@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.title {
    font-weight: bold;
    text-align: center;
    color: black;
    margin-top: 20%;
}
.subtext {
    text-align: center;
    color: black;
    margin-top: 2%;
}

.subtext2 {
    text-align: center;
    color: black;
    margin-top: 0.5%;
}
  
.fa-arrow-up {
    font-size: 20px;
}

.groen {
    color: #cdedda;
}

.btn-groen {
    background-color: #cdedda;
}

.bgc-h-f {
    background-color: #1d3251;
}