@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.groen {
    color: #cdedda;
}

.btn-groen {
    background-color: #cdedda;
}

.bgc-h-f {
    background-color: #1d3251;
}

.fa-arrow-up {
    font-size: 20px;
}

.btn-groen:hover {
    background-color: #cdedda;
    color: #000;
}