@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.navbar-toggler {
    border-color: rgb(0, 0, 0);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px;
    font-size: 0.8em;
}
  
.fa-arrow-up {
    font-size: 20px;
}

.groen {
    color: #cdedda;
}

.btn-groen {
    background-color: #cdedda;
}

.bgc-h-f {
    background-color: #1d3251;
}